<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_meditalk"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_meditalk"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediTalk"
        tools:targetApi="31">
        <service
            android:name=".TTSService"
            android:enabled="true"
            android:exported="false"></service>

        <activity
            android:name=".NavHeader"
            android:exported="false" />
        <activity
            android:name=".BaseDrawerActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MediTalk.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:exported="true" />
        <activity
            android:name=".InhalationDetailActivity"
            android:exported="false" />
        <activity
            android:name=".DropDetailActivity"
            android:exported="false" />
        <activity
            android:name=".CreamDetailActivity"
            android:exported="false" />
        <activity
            android:name=".PillDetailActivity"
            android:exported="false" />
        <activity
            android:name=".InhalationListActivity"
            android:exported="false" />
        <activity
            android:name=".CreamListActivity"
            android:exported="false" />
        <activity
            android:name=".PillListActivity"
            android:exported="false" />
        <activity
            android:name=".DropListActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

    </application>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>


</manifest>